{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <div id="login-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post">
                <input type="text" id="inputUsername" name="username" placeholder="E-mail" value="{{ last_username }}">
                <input type="password" id="inputPassword" name="password" placeholder="password">

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <input type="submit" value="Log In">
            </form>

        </div>
    </div>
{% endblock %}
